#column1{
	background-color: red;
}

#column2{
	background-color: yellow;

}
.title{
	text-align: center;

}

#column3{
	background-color: green;
}




.content-box{
	margin: 10px;
		height: auto;
	width: auto;

}


.row{
	margin:10px;

}

.column_title{
	
	text-align:center;
}

.column_info{
	text-align:justify;
	
	
}
